@import "../../assets/scss/global.scss";

.profilePic {
  width: 100%;
  @media only screen and (min-width: 992px) {
    padding: 30px 50px 50px 50px;
  }
  border-radius: 50%;
}

.root {
  flex-grow: 1;
  padding: 70px 0;
}
.paper {
  padding: 10px;
  text-align: "center";
  color: blue;
}

p {
  font-family: "ubunturegular";
}
