.colorLine {
  height: 15px;
  width: 100%;
  background-color: #fedd00;
  padding: 20px;
  margin: 14px 0 15px 0;
}

.root {
  width: 100%;
  padding: 20px 0;
}
.media {
  height: 140;
}
.title {
  margin: 20px;
}

.record {
  padding: 20px 0;
}
