body, html {
  height: 100%;
  margin: 0;
}


.topImageWrapper {
  .topImage {
    background-image: url('https://www.patagonia.com/on/demandware.static/-/Library-Sites-PatagoniaShared/default/dw14d7b900/images/sport-pages/surfing/F20-Wetsuits-Surf-mackinnon_a_0514-16x9-CB.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
