body,
html {
  height: 100%;
  margin: 0;
}

.topImageWrapper {
  .topImage {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.headerTop {
  width: 100%;
  .title {
    color: #fff;
    text-align: center;
    background-color: #3f51b5;
    margin: 0;
    padding: 10px;
    font-size: 25px;
  }
}
