body,
html {
  height: 100%;
  margin: 0 !important;
}

.topImageWrapper {
  background-image: url("../../assets/images/computer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  @media only screen and (min-width: 567px) {
    min-height: 100vh;
  }
  .headerText {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #fff;
    font-family: "ubuntumedium", sans-serif;
    font-size: 50px;
    @media only screen and (max-width: 566px) {
      top: 28%;
      font-size: 40px;
      padding: 0 10px;
    }
    span {
      font-size: 27px;
      display: block;
      padding-top: 8px;
      font-family: "ubuntumedium_italic", sans-serif;
    }
  }
}

.headerTop {
  width: 100%;
  background-color: #111;
  .title {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 10px;
    font-size: 24px;
    font-family: "ubuntubold", sans-serif;
  }
}
